.servBoxes {
  direction: rtl;
  padding: 2rem 3rem;
  max-width: 1200px;
  margin: auto;
}

.boxes {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.box {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  padding: 5px;
  border: 10px solid #883676;
  direction: rtl;
  text-align: center;
  margin: 5px;
  height: 600px;
  width: 350px;
  transition: all 0.3s ease-in;
}

.box:hover {
  background-color: rgb(100, 179, 172);
  transform: translateY(20px) scale(1.08);
  transition: all 0.3s ease-in;
}

.box img {
  width: 80%;
}

@media (max-width: 980px) {
  .boxes {
    flex-direction: column;
  }
}
