.autoComplete {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  direction: rtl;
}

.autoComplete * {
  font-family: var(--iranFont);
  font-family: 2.5rem;
}

.autoComplete input {
  width: 80%;
  font-size: 1.5rem;
  text-align: right;
  border-radius: 0;
  border: 2px solid var(--purple);
}

.autoComplete input:focus {
  border-radius: 0 !important;
  border: 2px solid var(--purple) !important;
  background: var(--green);
  color: black;
}

.texts {
  background-color: var(--ordibehesht);
}
