.modal {
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 59, 47, 0.664);
  padding: 5%;
  height: 100%;
  width: 100%;
  left: 0;
  z-index: 9999999;
  padding-left: 150px;
}
