.buttoncreate {
  margin-bottom: 10px;
}

.buttoncreate button {
  font-family: var(--ordibehesht);
  font-size: 2rem;
  padding-left: 10px;
  padding-right: 10px;
}

.btnsCreate {
  position: fixed;
  bottom: 0;
  left: 0;
}
